*.retry
*.save*
*.config
*.swp
*.pyc
*.log

/hosts

deprecated/

!host_vars/
host_vars/*
!host_vars/example_host
!host_vars/cluster_example_host

!group_vars/
group_vars/*
!group_vars/example_group

!files/
files/*
!files/example_host
!files/cluster_example_host

roles/jdauphant.nginx

.venv

site/
.vagrant/

test/files/*/ssh/*
test/files/*/database_extract/*
test/files/*/database_import/*
test/ci_hosts
test/CI/files
