*.retry
*.save*
*.config
*.swp
*.pyc

*.travis.yml

config/hosts
hosts

!host_vars/
host_vars/*
!host_vars/example_host

!group_vars/
group_vars/*
!group_vars/example_group

!files/
files/*
!files/example_host
