--- # These are the settings for the testmigration of a docker container running galaxy
#The variables are the same as the dockergalaxy.config file. Put in different values for the test instance

##
# DOCKER CONTAINER SETTINGS
## 
docker_image: "bgruening/galaxy-stable:17.01"
docker_user: "testgalaxy"
docker_export_location: "/data/galaxy/migrated_galaxy/galaxy_storage"
docker_container_name: testmigrationgalaxy

#test settings
test: True
old_docker_export_location: "/data/galaxy/galaxy_storage" 
ufw_profile: "testgalaxy"

#web settings
galaxy_web_port: 8080
galaxy_ftp_port: 8821
galaxy_sftp_port: 8822

##
# GALAXY CONFIG
##
galaxy_admin_user: "user@example.com"
galaxy_master_api_key: "239879face8729dc872910"
galaxy_brand: "Test migration of Galaxy"
sge_root : ""

#optional settings
optional_environment_settings:
  GALAXY_CONFIG_CONDA_AUTO_INSTALL: True
  GALAXY_CONFIG_CONDA_AUTO_INIT: True
  GALAXY_CONFIG_USE_CACHED_DEPENDENCY_MANAGER: True
