api_key: <Galaxy Admin user API key>
galaxy_instance: <IP address for target Galaxy instance>
# Each dbkey should posses keys and values for all DMs that require
# arguments other than the dbkey itself
dbkeys:
- dbkey: dmel-all-miRNA-r6.11
  all_fasta_source: dmel-all-miRNA-r6.11
  dbkey_source|dbkey: dmel-all-miRNA-r6.11
  dbkey_source|dbkey_source_selector: new
  reference_source|reference_source_selector: url
  reference_source|user_url: ftp://ftp.flybase.net/genomes/Drosophila_melanogaster/dmel_r6.11_FB2016_03/fasta/dmel-all-miRNA-r6.11.fasta.gz
- dbkey: dmel-all-ncRNA-r6.11
  all_fasta_source: dmel-all-ncRNA-r6.11
  dbkey_source|dbkey: dmel-all-ncRNA-r6.11
  dbkey_source|dbkey_source_selector: new
  reference_source|reference_source_selector: url
  reference_source|user_url: ftp://ftp.flybase.net/genomes/Drosophila_melanogaster/dmel_r6.11_FB2016_03/fasta/dmel-all-ncRNA-r6.11.fasta.gz
- dbkey: dmel-all-transposon-r6.11
  all_fasta_source: dmel-all-transposon-r6.11
  dbkey_source|dbkey: dmel-all-transposon-r6.11
  dbkey_source|dbkey_source_selector: new
  reference_source|reference_source_selector: url
  reference_source|user_url: ftp://ftp.flybase.net/genomes/Drosophila_melanogaster/dmel_r6.11_FB2016_03/fasta/dmel-all-transposon-r6.11.fasta.gz
- dbkey: dmel-all-tRNA-r6.11
  all_fasta_source: dmel-all-tRNA-r6.11
  dbkey_source|dbkey: dmel-all-tRNA-r6.11
  dbkey_source|dbkey_source_selector: new
  reference_source|reference_source_selector: url
  reference_source|user_url: ftp://ftp.flybase.net/genomes/Drosophila_melanogaster/dmel_r6.11_FB2016_03/fasta/dmel-all-tRNA-r6.11.fasta.gz
- dbkey: dmel-all-miscRNA-r6.11
  all_fasta_source: dmel-all-miscRNA-r6.11
  dbkey_source|dbkey: dmel-all-miscRNA-r6.11
  dbkey_source|dbkey_source_selector: new
  reference_source|reference_source_selector: url
  reference_source|user_url: ftp://ftp.flybase.net/genomes/Drosophila_melanogaster/dmel_r6.11_FB2016_03/fasta/dmel-all-miscRNA-r6.11.fasta.gz
# List of DMs to run for listed dbkeys
data_managers:
- id: toolshed.g2.bx.psu.edu/repos/devteam/data_manager_fetch_genome_dbkeys_all_fasta/data_manager_fetch_genome_all_fasta_dbkey/0.0.2
- id: toolshed.g2.bx.psu.edu/repos/devteam/data_manager_bowtie2_index_builder/bowtie2_index_builder_data_manager/2.2.6
