#!/bin/bash
set -eu -o pipefail

timestamp(){
{{cronbackupdb_log_timestamp}}
}

echo "$(timestamp) Start backup script"

container_postgres_user="{{container_postgres_user}}"
docker_container_name="{{docker_container_name}}"
container_database_name="{{container_database_name}}"
db_export_location="{{db_export_location}}"
backup_db_file="{{backup_db_file}}"
docker_export_location="{{docker_export_location}}"
db_export_location="{{db_export_location}}"
backup_db_location="{{backup_db_location}}"
backup_archive="{{backup_archive}}"
zip_command="{{zip_command}}"
files_to_keep="{{files_to_keep}}"

echo -n "$(timestamp) Dump the database from within the container using the postgres user ... "
touch $docker_export_location/$db_export_location/$backup_db_file
chmod 0600 $docker_export_location/$db_export_location/$backup_db_file
docker exec -u $container_postgres_user $docker_container_name \
  bash -c "pg_dump $container_database_name >> /export/$db_export_location/$backup_db_file"
echo "done"

echo -n "$(timestamp) Archive the database to $backup_db_location/$backup_archive ... "
touch $backup_db_location/$backup_archive
chmod 0600 $backup_db_location/$backup_archive
$zip_command -c < $docker_export_location/$db_export_location/$backup_db_file >> \
  $backup_db_location/$backup_archive
echo "done"

echo -n "$(timestamp) $backup_archive created. Removing source file ... "
rm -f "$docker_export_location/$db_export_location/$backup_db_file"
echo "done"

echo "$(timestamp) backup completed successfully"

echo "$(timestamp) A maximum of $files_to_keep files will be kept in $backup_db_location. Looking for redundant files."


old_files="$(ls -Atp $backup_db_location | grep -v '/$' | tail -n +$(($files_to_keep + 1)) )"
number_of_files="$(ls -Atp $backup_db_location | grep -v '/$' | wc -l )"

if [ "$(($number_of_files - $files_to_keep))" -gt "0" ] 
  then
    echo "$(timestamp) More than $files_to_keep files found. Oldest files will be removed."
    for file in $old_files
      do
        echo -n "$(timestamp) Removing $file ... "
        rm -f "$backup_db_location/$file"
        echo "done"
      done
  else
    echo "$(timestamp) Not more than $files_to_keep files found. Skip cleanup."
fi
