---
# -----
# Copyright 2017 Sequencing Analysis Support Core - Leiden University Medical Center
# Contact us at: sasc@lumc.nl
#
# This file is part of galaxy-launcher.
#
# galaxy-launcher is free software: you can redistribute it
# and/or modify it under the terms of the MIT License (Expat) as
# published by the Open Source initiative.
#
# You should have received a copy of the MIT License (Expat)
# along with galaxy-launcher. If not, see
# <https://opensource.org/licenses/MIT>.
# .....

- name: Create user to run docker image
  user:
    createhome: yes
    name: "{{galaxy_docker_docker_user}}"
    groups: "{{galaxy_docker_docker_user_groups}}"
    state: present

- name: Create galaxy web user
  user:
    createhome: yes
    name: "{{galaxy_docker_web_user}}"
    uid: "{{galaxy_docker_web_user_id}}"
    state: present

- name: create galaxy database user
  user:
    createhome: yes
    name: "{{galaxy_docker_database_user}}"
    uid: "{{galaxy_docker_database_user_id}}"
    state: present
    groups: "{{galaxy_docker_web_group_id}}"
