---
# Copyright 2017 Sequencing Analysis Support Core - Leiden University Medical Center
# Contact us at: sasc@lumc.nl
#
# This file is part of galaxy-docker-ansible.
# A dual licensing mode is applied.
# The source code within this project is freely available for non-commercial use under the GNU Affero General Public license.
# For commercial users or users who do not want to follow the AGPL, please contact us to obtain a separate license.
#
# You should have received a copy of the GNU Affero General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.

- include: transfer_database.yml
  become: "{{galaxy_docker_become}}"
  become_user: "{{galaxy_docker_web_user}}"
  vars:
    ansible_user: "{{galaxy_docker_web_ssh_user}}"
    ansible_ssh_private_key_file: "{{galaxy_docker_web_user_private_key}}"

- include: create_empty_db_script.yml
  become: "{{galaxy_docker_become}}"
  become_user: "{{galaxy_docker_database_user}}"
  vars:
    ansible_user: "{{galaxy_docker_database_ssh_user}}"
    ansible_ssh_private_key_file: "{{galaxy_docker_database_user_private_key}}"

- name: Make sure the docker container is started
  docker_container:
    name: "{{galaxy_docker_container_name}}"
    volumes:
      - "{{galaxy_docker_export_location}}:/export/"
      - "{{galaxy_docker_empty_database_script}}:/database_scripts/new_empty_db"
      - "{{galaxy_docker_imported_db_location}}:/database"
    image: "{{galaxy_docker_docker_image}}"
    state: started
    command: /usr/bin/startup

- name: Check if postgres is online
  command: "docker exec {{galaxy_docker_container_name}} service postgresql status"
  register: result
  until: '"online" in result.stdout'
  retries: 20

- name: stop galaxy service in container
  command: "docker exec {{name}} {{command}}"
  vars:
    name: "{{galaxy_docker_container_name}}"
    command: "supervisorctl stop galaxy:*"

- name: Delete old database and create new_empty one
  command: "docker exec -u {{user}} {{name}} {{command}}"
  vars:
    name: "{{galaxy_docker_container_name}}"
    command: "psql -f /database_scripts/new_empty_db"
    user: "{{galaxy_docker_database_user}}"
  register: database_created

- name: Database deletion and creation results
  debug:
    var: database_created.stdout

- name: Import new database in galaxy container
  command: "docker exec -u {{user}} {{name}} {{galaxy_docker_db_restore_command}} {{flags}}"
  vars:
    name: "{{galaxy_docker_container_name}}"
    flags: "-d {{galaxy_docker_container_database_name}} {{galaxy_docker_db_input_file_flag}} /database/{{galaxy_docker_imported_db}}"
    user: "{{galaxy_docker_web_user}}"

- name: stop container
  docker_container:
    name: "{{galaxy_docker_container_name}}"
    state: stopped

- include: delete_database_file.yml
  become: "{{galaxy_docker_become}}"
  become_user: "{{galaxy_docker_web_user}}"
  vars:
    ansible_user: "{{galaxy_docker_web_ssh_user}}"
    ansible_ssh_private_key_file: "{{galaxy_docker_web_user_private_key}}"

- include: delete_empty_db_script.yml
  become: "{{galaxy_docker_become}}"
  become_user: "{{galaxy_docker_database_user}}"
  vars:
    ansible_user: "{{galaxy_docker_database_ssh_user}}"
    ansible_ssh_private_key_file: "{{galaxy_docker_database_user_private_key}}"

- name: MSG make sure to upgrade the database
  debug:
    msg: Make sure to upgrade the database before running the container

- name: Set upgrade database to true.
  set_fact:
    galaxy_docker_upgrade: True
- name: Include upgrade procedure
  include: ../upgrade/main.yml
