---
{# ----- #}
{# Copyright 2017 Sequencing Analysis Support Core - Leiden University Medical Center #}
{# Contact us at: sasc@lumc.nl #}
{#  #}
{# This file is part of galaxy-launcher. #}
{#  #}
{# galaxy-launcher is free software: you can redistribute it #}
{# and/or modify it under the terms of the MIT License (Expat) as #}
{# published by the Open Source initiative. #}
{#  #}
{# You should have received a copy of the MIT License (Expat) #}
{# along with galaxy-launcher. If not, see #}
{# <https://opensource.org/licenses/MIT>. #}
{# ..... #}
{{ansible_managed | comment}}

# galaxy-launcher generates these values to run the docker container.

docker_mounted_volumes:
  - "{{galaxy_docker_export_location}}:/export/"
  {% if galaxy_docker_shared_cluster_directory is defined%}
  - "{{galaxy_docker_shared_cluster_directory}}:{{galaxy_docker_shared_cluster_directory}}"
  {% endif %}
  {% if galaxy_docker_extra_volumes is defined and galaxy_docker_extra_volumes !='' %}
  {% for extra_volume in galaxy_docker_extra_volumes %}
  - "{{extra_volume}}"
  {% endfor %}
  {% endif %}
#  {% if galaxy_docker_cluster_virtualenv is defined%}
#  - "{{galaxy_docker_cluster_virtualenv}}:/galaxy_venv"
#  - "{{galaxy_docker_cluster_virtualenv}}:{{galaxy_docker_cluster_virtualenv}}"
#  {% endif %}
#  {% if galaxy_docker_optional_environment_settings.SGE_ROOT is defined%}
#  - "{{galaxy_docker_optional_environment_settings.SGE_ROOT}}:{{galaxy_docker_optional_environment_settings.SGE_ROOT}}"
#  {% endif %}
...
