#jinja2: trim_blocks:False
---
{# Copyright 2017 Sequencing Analysis Support Core - Leiden University Medical Center #}
{# Contact us at: sasc@lumc.nl #}
{# #}
{# This file is part of galaxy-docker-ansible. #}
{# A dual licensing mode is applied. #}
{# The source code within this project is freely available for non-commercial use under the GNU Affero General Public license. #}
{# For commercial users or users who do not want to follow the AGPL, please contact us to obtain a separate license. #}
{# #}
{# You should have received a copy of the GNU Affero General Public License along with this program. If not, see <http://www.gnu.org/licenses/>. #}
{{ansible_managed | comment}}

# galaxy-docker-ansible generates these values to run the docker container.

docker_published_ports:
{% if galaxy_web_port is defined and galaxy_web_port !='' %}
  - "127.0.0.1:{{galaxy_web_port}}:80"
  {% endif %}
  {% if galaxy_ftp_port is defined and galaxy_ftp_port !='' %}
  - "127.0.0.1:{{galaxy_ftp_port}}:8021"
  {% endif %}
  {% if galaxy_sftp_port is defined and galaxy_sftp_port !='' %}
  - "127.0.0.1:{{galaxy_sftp_port}}:8022"
  {% endif %}
  {% if docker_extra_ports is defined and docker_extra_ports !='' %}
  {% for extra_port in docker_extra_ports %}
  - "{{extra_port}}"
  {% endfor %}
  {% endif %}
docker_mounted_volumes:
  - "{{docker_export_location}}:/export/"
  {% if optional_environment_settings.GALAXY_CONFIG_CLUSTER_FILES_DIRECTORY is defined%}
  - "{{optional_environment_settings.GALAXY_CONFIG_CLUSTER_FILES_DIRECTORY}}:{{optional_environment_settings.GALAXY_CONFIG_CLUSTER_FILES_DIRECTORY}}"
  {% endif %}
  {% if docker_extra_volumes is defined and docker_extra_volumes !='' %}
  {% for extra_volume in docker_extra_volumes %}
  - "{{extra_volume}}"
  {% endfor %}
  {% endif %}
#  {% if galaxy_cluster_virtualenv is defined%}
#  - "{{galaxy_cluster_virtualenv}}:/galaxy_venv"
#  - "{{galaxy_cluster_virtualenv}}:{{galaxy_cluster_virtualenv}}"
#  {% endif %}
  {% if optional_environment_settings.SGE_ROOT is defined%}
  - "{{optional_environment_settings.SGE_ROOT}}:{{optional_environment_settings.SGE_ROOT}}"
  {% endif %}
...
