SELECT pg_terminate_backend(pg_stat_activity.pid)
FROM pg_stat_activity
WHERE pg_stat_activity.datname = '{{galaxy_docker_container_database_name}}'
  AND pid <> pg_backend_pid(); 
DROP DATABASE {{galaxy_docker_container_database_name}} ;
CREATE DATABASE {{galaxy_docker_container_database_name}} WITH OWNER {{galaxy_docker_container_database_username}} ;

