{# ----- #}
{# Copyright 2017 Sequencing Analysis Support Core - Leiden University Medical Center #}
{# Contact us at: sasc@lumc.nl #}
{#  #}
{# This file is part of galaxy-launcher. #}
{#  #}
{# galaxy-launcher is free software: you can redistribute it #}
{# and/or modify it under the terms of the MIT License (Expat) as #}
{# published by the Open Source initiative. #}
{#  #}
{# You should have received a copy of the MIT License (Expat) #}
{# along with galaxy-launcher. If not, see #}
{# <https://opensource.org/licenses/MIT>. #}
{# ..... #}

SELECT pg_terminate_backend(pg_stat_activity.pid)
FROM pg_stat_activity
WHERE pg_stat_activity.datname = '{{galaxy_docker_container_database_name}}'
  AND pid <> pg_backend_pid();
DROP DATABASE {{galaxy_docker_container_database_name}} ;
CREATE DATABASE {{galaxy_docker_container_database_name}} WITH OWNER {{galaxy_docker_container_database_username}} ;
