{# Copyright 2017 Sequencing Analysis Support Core - Leiden University Medical Center #}
{# Contact us at: sasc@lumc.nl #}
{# #}
{# This file is part of galaxy-docker-ansible. #}
{# A dual licensing mode is applied. #}
{# The source code within this project is freely available for non-commercial use under the GNU Affero General Public license. #}
{# For commercial users or users who do not want to follow the AGPL, please contact us to obtain a separate license. #}
{# #}
{# You should have received a copy of the GNU Affero General Public License along with this program. If not, see <http://www.gnu.org/licenses/>. #}
{# #}
#!/bin/bash
set -eu -o pipefail

timestamp(){
{{galaxy_docker_backup_cron_log_timestamp}}
}

echo "$(timestamp) === START RSYNCING BACKUP DATA ==="

src={{src}}
host={{host_address}}
user={{user | default("")}}
dest={{dest}}
dest_string={{user | default("")}}{{ '@' if user != '' else '' }}{{host_address}}:{{dest}}
flags="-v -a --compress-level={{compression_level | default('0')}} {{ '--delete' if delete else ''}} --delete-after"
command="rsync $flags $src $dest_string"

echo "$(timestamp) Source       = $src"
echo "$(timestamp) Remote host  = $host"
echo "$(timestamp) Destination  = $dest"
{% if user != '' %}
echo "$(timestamp) Remote_user  = $user"
{% endif %}
echo "$(timestamp) flags        = $flags"
echo "$(timestamp) command      = $command"
echo "$(timestamp) --- START SYNCING ---"
stdbuf -oL -eL $command |
while IFS= read -r line
  do echo "$(timestamp) $line"
done
echo "$(timestamp) ---     DONE      ---"
echo "$(timestamp) === RSYNC TO BACKUP SERVER SUCCESSFULL ==="
