{# ----- #}
{# Copyright 2017 Sequencing Analysis Support Core - Leiden University Medical Center #}
{# Contact us at: sasc@lumc.nl #}
{# #}
{# This file is part of galaxy-docker-ansible. #}
{# A dual licensing mode is applied. #}
{# The source code within this project is freely available for non-commercial use under the GNU Affero General Public license. #}
{# For commercial users or users who do not want to follow the AGPL, please contact us to obtain a separate license. #}
{# #}
{# You should have received a copy of the GNU Affero General Public License along with this program. If not, see <http://www.gnu.org/licenses/>. #}
{# ..... #}
# {{ansible_managed}}
default_destination: {{galaxy_docker_cluster_default_destination}}
tools:
  upload1:
    default_destination: local
  {% for destination, tool_list in galaxy_docker_cluster_tool_destinations.iteritems() %}
  {% for tool in tool_list %}
  {{tool}}:
    default_destination: {{destination}}
  {% endfor %}
  {% endfor %}
  {% if galaxy_docker_cluster_tool_destination_configuration %}
  {{ galaxy_docker_cluster_tool_destination_configuration | to_nice_yaml}}
  {% endif %}
{% if galaxy_docker_cluster_user_destinations %}
users:
  {{ galaxy_docker_cluster_user_destinations | to_nice_yaml }}
{% endif %}
verbose: True
