{# Copyright 2017 Sequencing Analysis Support Core - Leiden University Medical Center #}
{# Contact us at: sasc@lumc.nl #}
{# #}
{# This file is part of galaxy-docker-ansible. #}
{# A dual licensing mode is applied. #}
{# The source code within this project is freely available for non-commercial use under the GNU Affero General Public license. #}
{# For commercial users or users who do not want to follow the AGPL, please contact us to obtain a separate license. #}
{# #}
{# You should have received a copy of the GNU Affero General Public License along with this program. If not, see <http://www.gnu.org/licenses/>. #}
{# #}
[{{ufw_profile}}]
title={{ufw_profile}}
description= This policy enables all ports that are opened in the galaxy application
ports={{public_galaxy_web_port}}/tcp

{% if galaxy_docker_test_upgrade | bool %}
[{{galaxy_docker_test_ufw_profile}}]
title={{galaxy_docker_test_ufw_profile}}
description= This profile sets open a web port for the test galaxy application
ports={{test_upgrade_settings.public_galaxy_web_port}}
{% endif %}
