[{{galaxy_docker_test_ufw_profile}}]
title={{galaxy_docker_test_ufw_profile}}
description= This profile sets open a web port for the test galaxy application
ports={{test_upgrade_settings.public_galaxy_web_port}}
