---
# Copyright 2017 Sequencing Analysis Support Core - Leiden University Medical Center
# Contact us at: sasc@lumc.nl
#
# This file is part of galaxy-docker-ansible.
# A dual licensing mode is applied.
# The source code within this project is freely available for non-commercial use under the GNU Affero General Public license.
# For commercial users or users who do not want to follow the AGPL, please contact us to obtain a separate license.
#
# You should have received a copy of the GNU Affero General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.

# This task decides wich sub-tasks should be run based on the boolean variables.
# The order should represent the order in which tasks are ideally done.

- include: installdocker.yml
  when: installdocker

- include: customimage.yml
  when: customimage

- include: importdb.yml
  when: importdb

# Setting nginx should be done before upgrade, in case a testupgrade server is run.
- include: nginxsettings.yml
  when: nginxsettings

- include: upgrade.yml
  when: upgrade

- include: galaxywelcome.yml
  when: galaxywelcome

- include_role:
    name: jdauphant.nginx
  when: ansible_role_nginx

- include: galaxyfirewall.yml
  when: galaxyfirewall

- include: run.yml
  when: rundockergalaxy

# If a container is not restarted with exactly the same settings. All changes within the container are lost. Therefore addldap runs after run
- include: addldap.yml
  when: addldap

- include: setupsge.yml
  when: setupsge

- include: cronbackupdb.yml
  when: cronbackupdb

- include: installtools.yml
  when: installtools

- include: installgenomes.yml
  when: installgenomes

- include: extractdb.yml
  when: extractdb

- include: deletegalaxy.yml
  when: deletegalaxy
