--- # These are the settings for the ansible script installing and running docker galaxy

##
# HOST SETTINGS
##

var_hosts: galaxy
docker_default_location: "/data/docker" #Where the docker images are stored

##
# DOCKER CONTAINER SETTINGS
##

docker_image: "bgruening/galaxy-stable:17.01"
docker_user: "galaxy"                                           # The user that runs docker and has no sudo rights
docker_export_location: "/data/{{docker_user}}/galaxy_storage"  # Location to export the galaxy data to
docker_container_name: "galaxy"                                 # Name of the running container
ufw_profile: "galaxy"                                           # Name of the ufw profile that opens galaxy's ports

#web settings
galaxy_web_port: 80
galaxy_ftp_port: 8021
galaxy_sftp_port: 8022

#Directory with yaml tool lists to install on the galaxy instance
tool_list_dir: "/home/galaxy/tool_lists/"

##
# GALAXY CONFIG
##

#required settings
galaxy_admin_user: "user@example.com"
galaxy_master_api_key: "23f7d2g812dg738dag2jhad32" #replace with your own key!!
galaxy_brand: "Docker instance of Galaxy"

#optional settings
optional_environment_settings:
  GALAXY_CONFIG_CONDA_AUTO_INSTALL: True
  GALAXY_CONFIG_CONDA_AUTO_INIT: True
  GALAXY_CONFIG_USE_CACHED_DEPENDENCY_MANAGER: True

##
# BACKUP SETTINGS
##

backup_location: "/data/galaxy/backup"
method: rsync   # options 'archive' and 'rsync'
backup_name: "galaxy_docker_backup"
prefix: ""
postfix: ""

#archive settings
comprresion_format: gz

#Rsync settings
remote_backup: False #set to True if synchronizing to a remote host.

# Set compression level. This compresses the data before sending to save bandwith
# This does not compress the files. 
# 0 = no compression
# 1-3 uses a fast compression algorithm that uses less resources
# 4-9 provide progressively better compression at increased system resource use
rsync_compression_level: 0

##
# MIGRATION SETTINGS
##

overwrite_config_files: False
